<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="Becape" value="https://nuget.pkg.github.com/BecapeBr/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<Becape>
			<add key="Username" value="devautomais" />
			<add key="ClearTextPassword" value="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" />
		</Becape>
	</packageSourceCredentials>
</configuration>